# Node.js modules
node_modules/

# Build directory
build/

# .env file (for local development secrets)
.env

# npm logs
npm-debug.log*
yarn-error.log*

# Log files
*.log

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store

# Coverage reports
coverage/

# build output directory
dist/

# React specific
*.swp
